<div class="item">
    <div class="actionsList">
        <button class="btn-info glyphicon glyphicon-trash" (click)="Clear()"></button>
        <button class="btn-danger glyphicon glyphicon-off" (click)="Disconnect()"></button>
    </div>
   <div *ngFor="let notif of notifications" >
       <div>{{notif.title}} :</div>
       <div class="notifs">
           <div>{{notif.text}}</div>
       </div>
   </div>
       
</div>
<simple-notifications [options]="options"></simple-notifications>
<style>
    :host {
        display: block;
        height: 100%;
        width: 200px;
        background: ghostwhite;
        flex-shrink: 0;
        border-left: 1px solid #d6d6d6;
    }
    .item {
        overflow-y: scroll;
        height:inherit;
    }
    .actionsList{
        width:100%;
        height:60px;
        display:inline-flex;
    }
    .actionsList > button{
        height:100%;
        width: 50%;
        border:0px;
        top:0px;
    }
    .notifs {
        color: black;
        font-weight: bold;
        border: double;
        background-color: whitesmoke;
        border-color:dodgerblue;
        border-radius: 8px;
        border-width: 1px;
        border-spacing: 2px;
    }
</style>